<div class="card">
  <%= link_to image_tag(muscle.image, class: :card__img ), muscle_path(muscle.id), method: :get %>
  <div class="card__body">
    <%= link_to muscle.title, muscle_path(muscle.id), method: :get , class: :card__title%>
    <p class="card__summary">
      <%= "部位・・・#{muscle.part.name}" %>
    </p>
    <p class="card__summary">
      <%= "難易度・・・#{muscle.difficult.name}" %>
    </p>
    <%= link_to "by #{muscle.user.nickname}" , "/users/#{muscle.user.id}", class: :card__user %>
  </div>
  <div id="likes_buttons_<%= muscle.id %>">
    <%= render partial: 'favorites/favorite', locals: { muscle: muscle} %>
  </div>
</div>