<div class="card">
  <%= link_to image_tag(muscle.image, class: :card__img ), muscle_path(muscle.id), method: :get %>
  <div class="card__body">
    <%= link_to muscle.title, muscle_path(muscle.id), method: :get , class: :card__title%>
    <p class="card__summary">
      <%= "部位・・・#{muscle.part.name}" %>
    </p>
    <p class="card__summary">
      <%= "難易度・・・#{muscle.difficult.name}" %>
    </p>
    <%= link_to "by #{muscle.user.nickname}" , "/users/#{muscle.user.id}", class: :card__user %>
  </div>
  <% if user_signed_in? %>
    <% if muscle.favorited_by?(current_user) %> <!-- ログインしているユーザーがファボしたかどうかで分岐 -->
        <p><span>お気に入り解除: </span><%=link_to muscle.favorites.count, muscle_favorites_path(muscle.id), method: :delete %></p>
    <% else %>
        <p><span>お気に入り登録: </span><%=link_to muscle.favorites.count, muscle_favorites_path(muscle.id), method: :post %></p>
    <% end %>
  <% else %>
    <p><span>お気に入り数: </span><%= muscle.favorites.count %></p>
  <% end %>
</div>