

<% random_number = SecureRandom.random_number(5) %>
<% if random_number == 0 %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>やあ、みんな!</strong> 今日も1日頑張ろう！！
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% elsif random_number == 1 %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>おっつー!</strong> まじ疲れたぴえん。
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% elsif random_number == 2 %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>占いしまーす</strong> 大吉！！！！！
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% elsif random_number == 3 %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>今日の晩御飯は・・・</strong> とりささみ！だけ＠w＠
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% elsif random_number == 4 %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>今日のおすすめの部位は〜〜〜</strong> 全身（うそ）
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% elsif random_number == 5 %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>実は・・・</strong> 水瀬いのりさんのファンです。
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>


<main class="main">
  <div class="inner">
    <div class="inner-main">
      <div class="new-muscle">
        <%= "初めての人は" %>
        <%= link_to "こちらをクリック", muscles_startmuscle_path, class: :click_link %>
      </div>
      <div class="bmi">
        <%= image_tag 'boy.png' ,class: "boy" %>
        <h3 class="bmi-title">📋 BMIを調べてみよう！</h3>
        <h6>BMIとは体重と身長から算出される肥満度のことです。</h6>

        <table border="1">
          <tr>
            <th>BMI値</th>
            <th>判定</th>
          </tr>
          <tr>
            <td>18.5未満</td>
            <td>痩せ型</td>
          </tr>
          <tr>
            <td>18.5~25未満</td>
            <td>普通体型</td>
          </tr>
          <tr>
            <td>25~30未満</td>
            <td>肥満(1度)</td>
          </tr>
          <tr>
            <td>30~35未満</td>
            <td>肥満(2度)</td>
          </tr>
          <tr>
            <td>35~40未満</td>
            <td>肥満(3度)</td>
          </tr>
          <tr>
            <td>40以上</td>
            <td>肥満(4度)</td>
          </tr>
        </table>
        <h6>※データは保存されません。</h6>
        <h6>安心してご利用ください。</h6>
        <div class="container">
          <div class="row">
            <section class="col-sm-6 col-md-4 pt-4">
              <div class="form-group">
                <label for="height">身長 (cm)</label>
                <input id="height-input" type="text" class="form-control" placeholder="例) 165">
              </div>
              <div class="form-group">
                <label for="weight">体重 (kg)</label>
                <input id="weight-input" type="text" class="form-control" placeholder="例) 60">
              </div>
                <input id="button-submit" type="submit" class="btn btn-primary btn-large" value="計測開始">
            </section>
            <section class="col-sm-6 col-md-4 pt-4">
              <div class="card">
                <div class="card-header">
                  あなたのBMI
                </div>
                <div class="card-body">
                  <div id="bmi-output" class="display-4"></div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>

      <% if user_signed_in? %>
        <div class="greeting goal">
          <%= "あなたの目標は・・・" %>
          <%= link_to current_user.goal, "/users/#{current_user.id}", class: :greeting__link%>
        </div>
      <% end %>
      <%# もし何も投稿がなかったら表示させる%>

      <%# 検索欄 %>
      <%= search_form_for @p, url: muscles_searchmuscle_path do |f| %>
        <p class="category-title">🔍 カテゴリー検索</p>
        <div class="search-header">
          <%= f.label '部位'%>
          <%= f.collection_select :part_id_eq,Part.all,:id,:name %>
          <%= f.label '難易度'%>
          <%= f.collection_select :difficult_id_eq,Difficult.all,:id,:name %>
          <%= f.submit '検索' %>
        </div>
      <% end %>

      <div class="card__wrapper">
        <%= render partial:"muscle", collection: @muscles %>
      </div>
    </div>
  </div>
</main>

<%= link_to(new_muscle_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>投稿する</span>
  <%= image_tag 'dumbbell.png' , size: '200x70' ,class: "purchase-btn-icon" %>
<% end %>

<%= javascript_pack_tag 'test' %>
<%= javascript_pack_tag 'bmi' %>