<h1 class="training-title">トレーニングの予定</h1>

<div class="calender">
  <%= month_calendar events: @muscles do |date, muscles| %>
    <%= date.day %>
    <% muscles.each do |muscle| %>
      <div>
        <%= link_to muscle.title, muscle %>
      </div>
    <% end %>
  <% end %>
</div>

<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <%= "こんにちは、" %>
        <%= link_to current_user.nickname, "/users/#{current_user.id}", class: :greeting__link%>
        <%= "さん" %>
      </div>
      <div class="greeting goal">
        <%= "あなたの目標は・・・" %>
        <%= link_to current_user.goal, "/users/#{current_user.id}", class: :greeting__link%>
      </div>
    <% end %>
    <div class="card__wrapper">
      <%= render partial:"muscle", collection: @muscles %>
    </div>
    <%# もし何も投稿がなかったら表示させる%>
  </div>
</main>